# Compiled class files
*.class

# Maven and Gradle directories
target/
.build/
*.war
*.ear

# Gradle-specific files
.gradle/
build/

# Eclipse / IntelliJ IDEA / NetBeans project files
.classpath
.project
.settings/
.idea/
*.iml
nbproject/private/

# Logs
*.log

# Temporary files
*.tmp
*.bak
*.swp
*~
