# Code folder
/starter_code/target/

# Maven build directory
target/

# Ignore jar/war/ear files
*.jar
*.war
*.ear

# IDE files
.classpath
.project
.settings/
.idea/
*.iml
nbproject/private/

# and temporary files
*.tmp
*.bak
*.swp
*~
# Environment configuration
.env
