# Compiled class files
*.class

# Maven build directory
target/

# Ignore jar/war/ear files
*.jar
*.war
*.ear

# IDE files (e.g., Eclipse, IntelliJ, NetBeans)
.classpath
.project
.settings/
.idea/
*.iml
nbproject/private/

# Logs and temporary files
*.log
*.tmp
*.bak
*.swp
*~

# Environment configuration
.env

# Code folder
/starter_code/target/
